body, html {
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #393939;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	font-size: 36px;
	margin: 0;
}
h3 {
	font-size: 16px;
	font-weight: 700;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
a {
	color: #FF9b09;
	transition: all 0.5s;
}
a:hover, a:focus {
	text-decoration: none;
	color: #FF5909;
}
.img-centered {
	margin: 0 auto;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}
.section-title {
	padding: 30px 0;
}
.section-title h2 {
	font-weight: 400;
	margin-bottom: 26px;
    text-transform: uppercase;
}
hr {
	height: 3px;
	width: 60px;
	position: relative;
	background: #FF9b09;
	border: 0;
	margin-bottom: 30px;
}



/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(20, 44, 68, 0.75);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	text-transform: uppercase;
	font-size: 32px;
	color: #FF9B09;
	font-weight: 700;
	letter-spacing: 1px;
}

#menu a.navbar-brand i.fa {
	color: #ff9b09;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #124pa6;
	font-size: 13px;
	letter-spacing: 1px;
}

.navbar-default .navbar-nav>li>a {
    color: #FF9b09;
}

#menu.navbar-default .navbar-nav > li > a:hover {
	color: #FF5909;
}
.on {
	background-color: #032731 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #FF9b09; !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #FF9b09;
	border-color: #FF9b09;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}

/* Header Style */
header {
	background: url(../img/header.jpg) no-repeat bottom center;
	background-size: cover;
    color: #125da6;
	position: relative;
	height: 100%;
}
header p {
	color: #125da6;
	font-size: 25px;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.intro-text {
	position: relative;
	padding-top: 250px;
	padding-right: 50px;
	padding-left: 0;
	padding-bottom: 80px;
}
.intro-text H1 {
	font-size: 70px;
	text-transform: uppercase;
	color: #125da6;
	letter-spacing: 2px;
}
.color {
	color: #FF9B09;
}
.btn-default {
	color: #294d57;
	font-family: 'Open Sans', sans-serif;
	background-color: #FF9B09;
	border: 0;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #FF5909;
}

/* About ME Style */

#aboutme-section{
    padding-top: 125px;
    padding-bottom: 125px;
}

.portrait {
    max-height: 200px;
}

/* Studium Style */

#studium-section{
    padding-top: 125px;
    padding-bottom: 125px;
    background-color: rgba(20, 44, 68, 0.85);
    color: #fff;
}

.logo {
    padding: 20px;
    max-height: 180px;
}

/* IBS Style */

#ibs-section {
    padding-top: 125px;
    padding-bottom: 125px;
}

/* Footer Style */

.glyphicon-bigger {
    font-size: 50px;
}

.bottom {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(20, 44, 68, 0.85);
    color: #fff;
}

/* Wiki-Formular */

#wiki-section{
    padding-top: 125px;
    padding-bottom: 125px;
}

/* Webapp Style*/

#webapp-section{
    padding-top: 125px;
    padding-bottom: 125px;
}

.stat-datafield{
    padding-top: 20px;
    padding-bottom: 20px;
}
